<?xml version="1.0" encoding="UTF-8"?>

<!--Последовательности:
    %d дата и время;
    %t имя потока;
    %p Logger.LogLevel;
    %l имя логгера;
    %C имя вызывающего класса;
    %M имя вызывающего метода;
    %L номер строки;
    %m message;
    throwable ThrowableInfo;
    %n - переход на след. строку
-->

<configuration>
  <!--Аппендеры -->
  <!--Файловый аппендер -->
  <appender name="file" class="FileAppender">
        <file>src/test/java/log2.txt</file>
        <layout>
            <Pattern>%d %t %p %l %m throwable %n</Pattern>
        </layout>
  </appender>
  <!--Консольный аппендер -->
  <appender name="sout" class="ConsoleAppender">
    <layout>
        <Pattern>%d %t %p %l %m %n</Pattern>
    </layout>
  </appender>
  <appender name="file2" class="FileAppender">
        <file>src/test/java/log.txt</file>
        <layout>
            <Pattern>%d %t %p %m %n</Pattern>
        </layout>
  </appender>
  <!-- Логгеры -->
  <!-- Корневой логгер -->
  <root level="INFO">
    <appender-ref ref="sout" />
  </root>
  <!-- Логгер определённого класса  -->
  <logger name="LogRacing" level="INFO" >
    <appender-ref ref="sout" />
  </logger>
  <logger name="Logger2" level="INFO" >
    <appender-ref ref="sout" />
  </logger>
</configuration>
